<style>
  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 90px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 10px;
    cursor: pointer;
  }
  div.absolute {
  position: fixed;
  top: 80px;
  right: 0;
  width: 800px;
  height: 400px;
}
</style>
<a href = "http://127.0.0.1:8000/polls/" class = "button">Home</a>
{% if allUsers %}
    <ul>
    {% for user in allUsers %}
        <li><a href="/polls/{{ user.id }}/">{{ user.user_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No users are available.</p>
{% endif %}
