<!DOCTYPE html>
<html>
<head>
  <style>
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  margin: 4px 10px;
  cursor: pointer;
}
  </style>
  <title>RESTAURANT FINDER 2: ELECTRIC BOOGALOO</title>
</head>
  <body>
    <h1> RESTAURANT FINDER 2: ELECTRIC BOOGALOO </h1>
      <a href = "allUsersView/" class = "button">Users</a>
      <a href = "allRestaurantView/" class = "button">Restaurants</a>
      <a href = "#" class = "button">Search</a>
      <h3> CREATE A NEW USER!! </h3>
      <form action ="/cgi-bin/views.py" method = "POST">
        {% csrf_token %}
        Enter your User Name Below <br>
        <input type = "text" name="user_name"><br>
        Where do you live (City)? <br>
        <input type = "text" name = "location"><br>
        What's your Favorite Restaurant on Campus? <br>
        <input type = "text" name="favorite_restaurant"><br>
        <input type = "submit" value ="Create">
      </form>
  </body>
</html>
