<!DOCTYPE html>
<html>
<head>
  <style>
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  margin: 4px 10px;
  cursor: pointer;
}
  </style>
  <title>RESTAURANT FINDER 2: ELECTRIC BOOGALOO</title>
</head>
  <body>
    <h1> RESTAURANT FINDER 2: ELECTRIC BOOGALOO </h1>
      <a href = "http://127.0.0.1:8000/polls/allUsersView/" class = "button">Users</a>
      <a href = "allRestaurantView/" class = "button">Restaurants</a>
      <a href = "searchView/" class = "button">Search</a>
      <h3> CREATE A NEW USER!! </h3>
      <form action ="insertUserView/" method = "POST">
        {% csrf_token %}
        Enter your User Name Below <br>
        <input type = "text" name="user_name"><br>
        Where do you live (City)? <br>
        <input type = "text" name = "location"><br>
        What's your Favorite Restaurant on Campus? <br>
        <input type = "text" name="favorite_restaurant"><br>
        <input type = "submit" value="insert"><br>
      </form>
      <h3> Add a new restaurant into the database! </h3>
      <form action ="insertRestaurantView/" method = "POST">
        {% csrf_token %}
        Enter the Restaurant Name Below <br>
        <input type = "text" name="restaurant_name"><br>
        What location is your restaurant in? <br>
        <input type = "text" name = "location"><br>
        What is your price tier? ($-$$$$) <br>
        <input type = "text" name="price_tier"><br>
        What is your rating? (1-5) <br>
        <input type = "text" name="rating"><br>
        Insert restaurant tags <br>
        <input type = "text" name="tags"><br>
        <input type = "submit" value="insert"><br>
      </form>
  </body>
</html>
