<style>
  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 90px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 10px;
    cursor: pointer;
  }
</style>
<h1>{{ restaurant.restaurant_name }}
  <a href = "http://127.0.0.1:8000/polls/" class = "button">Home</a>
    <form action = "http://127.0.0.1:8000/polls/{{ restaurant.id }}/restaurantView" method = "POST">
        {% csrf_token %}
      <input type = "submit" name = "delete" value = "Delete Restaurant"><br>
    </form>
</h1>
<ul>
    <li>Restaurant Location: {{ restaurant.location }}</li>
    <li>Restaurant Price: {{ restaurant.price_tier }}</li>
    <li>Restaurant Yelp Rating: {{ restaurant.rating }}</li>
    <li>Restaurant Finder 2 User Rating:
      {% if restaurant_reviews.avg_rating == 0 %}
        N/A
      {% else %}
        {{restaurant_reviews.avg_rating}}
      {% endif %}
    </li>
    <li>Cuisines:
    {% for tags in restaurant_reviews.tag_list %}
        {{tags}},
    {% endfor %}
    </li>

</ul>
    <form action = "http://127.0.0.1:8000/polls/{{ restaurant.id }}/restaurantView" method = "POST">
      {% csrf_token %}
      Change your restaurant name: <br>
      <input type = "text" name="restaurant_name"><br>
      Change your location:<br>
      <input type = "text" name = "location"><br>
      Change your price tier: <br>
      <input type = "text" name="price_tier"><br>
      <input type = "submit" name = "update" value = "Update your data"><br>
    </form>
